@import url(bootstrap.min.css);

body {
  color: #55C1CF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h2 {
  padding-left: 0.5rem;
}

.logo img {
  border-radius: 20rem;
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 4rem;

}

header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: #55C1CF;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

ul a {
  text-decoration: none;
  color: black;
}

nav ul li {
  list-style-type: none;
  padding-left: 4rem;

}

nav ul {
  margin-right: 4rem;
}

.order .row .image img {
  height: 25%;
  width: 40%;
  object-fit: cover;
  border-radius: .5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}

.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
  /* padding:1rem; */
  margin: 1rem 0;
  /* font-size: 1.7rem; */
  color: #333;
  text-transform: none;
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .3rem;
  width: 39%;
  background-color: transparent;
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

.order .row form .btn {
  background: transparent;
}

.order .row form .btn:hover {
  background: var(--red);
}

.header-link {
  text-decoration: none;
  color: black;
}

.col-md-5{
  display: flex;
  justify-content: center;
}
