/* header styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h2{
    padding-left: 0.5rem;
}
.logo img{
    border-radius: 20rem;
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 4rem;
}
header{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    background-color: #55C1CF;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
ul a{
    text-decoration: none;
    color: black;
}
nav ul li{
    list-style-type: none;
    padding-left: 4rem;
}
nav ul{
    margin-right: 4rem;
}

.header-link{
    text-decoration: none;
    color: black;
}
/* document styling */
#findDoc{
    background-color: #baf0f7;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;

    background-size: cover;
    -webkit-background-size: cover;
}
.carousel-item::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 30px;
    font-weight: 700;
}
.carousel-caption p{

    font-size: 20px;
    top: 2rem;
}
